name: Tests (PR)
on:
  merge_group:
  pull_request:
    branches:
      - main
      - v2
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
jobs:
  test:
    name: "Test Pull Request"
    runs-on: ubuntu-latest
    if: ${{ !github.event.pull_request.draft }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"
      - name: Install Dependencies
        run: pnpm install
      - name: Lint Code
        run: pnpm lint
      - name: Run Unit Tests
        run: pnpm test
      - name: Upload Coverage Reports to Codecov
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      - name: Build Documentation
        run: pnpm build:docs
      - name: Install TypeScript 5.0
        run: 'pnpm add --save-dev typescript@"~5.0"'
      - name: Build Library on TypeScript 5.0
        run: pnpm build
      - name: Install TypeScript 5.1
        run: 'pnpm add --save-dev typescript@"~5.1"'
      - name: Build Library on TypeScript 5.1
        run: pnpm build
      - name: Install TypeScript 5.2
        run: 'pnpm add --save-dev typescript@"~5.2"'
      - name: Build Library on TypeScript 5.2
        run: pnpm build
      - name: Install TypeScript 5.3
        run: 'pnpm add --save-dev typescript@"~5.3"'
      - name: Build Library on TypeScript 5.3
        run: pnpm build
      - name: Install TypeScript 5.4
        run: 'pnpm add --save-dev typescript@"~5.4"'
      - name: Build Library on TypeScript 5.4
        run: pnpm build
      - name: Install TypeScript 5.5
        run: 'pnpm add --save-dev typescript@"~5.5"'
      - name: Build Library on TypeScript 5.5
        run: pnpm build
      - name: Install TypeScript 5.6
        run: 'pnpm add --save-dev typescript@"~5.6"'
      - name: Build Library on TypeScript 5.6
        run: pnpm build
      - name: Install TypeScript 5.7
        run: 'pnpm add --save-dev typescript@"~5.7"'
      - name: Build Library on TypeScript 5.7
        run: pnpm build
      - name: Install TypeScript 5.8
        run: 'pnpm add --save-dev typescript@"~5.8"'
      - name: Build Library on TypeScript 5.8
        run: pnpm build
